@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fw-400 {
  font-weight: 400;
}

.fs-56 {
  font-size: 56px;
}
.fs-48 {
  font-size: 48px;
}
.fs-40 {
  font-size: 40px;
}
.fs-36 {
  font-size: 36px;
}
.fs-32 {
  font-size: 32px;
}
.fs-30 {
  font-size: 30px;
}
.fs-28 {
  font-size: 28px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-16 {
  font-size: 16px;
}
.fs-12 {
  font-size: 12px;
}

.color-primary-blue {
  color: $primary-blue;
}
.bg-secondary-blue {
  background-color: $secondary-blue;
}
